<!DOCTYPE html>
<html>
  <head>
    <title>DeadAndCompanyReview</title>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Fredericka+the+Great', 'https://fonts.googleapis.com/css?family=Fugaz+One', "https://fonts.googleapis.com/css?family=Londrina+Solid", "https://fonts.googleapis.com/css?family=Londrina+Solid|Sumana"%>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
